body {
  background-color: #222222; 
  font-family: 'Roboto', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

.container-fluid {
  background-color: #375a7f;
}

span {
  color: white;
}

span:hover {
  opacity: 0.5;
}

span:active {
  transform: translateY(4px);
}

.btn.btn-danger {
  float: right;
  margin-top: 10px;
}

.btn-group {
  float: right;
  padding: 10px;
}

.row {
  margin: 0 30px;
}

.panel-body {
  background-color: #375a7f;
}

#wins,
#guessesLeft {
  width: 6%;
  border: 2px dashed;
  text-align: center;
  /*padding-right: 5px;*/
/*  margin-right: 3px;*/
}

#currentGuess {
  letter-spacing: 20px;
  text-align: left;
}

#character,
#map {
  width: 70%;
  margin-left: 30px;
}


